<nav>
  <ul>
    <li><a href="#/bio">Bio</a></li>
    <li><a href="#/discover">Discover</a></li>
  </ul>
</nav>

<div>
  <ul>
    <li ng-repeat="m in messages">
      {{ m.username }}: {{ m.messsage }}
    </li>
  </ul>


  <div class="message-bar">
    <a href="#" class="reveal">
      <span class="fa fa-user"></span>
      Reveal identity
    </a>
    <input type="text" placeholder="Send a message">
    <a href="" class="send" ng-click="sendMessage()"><span class="fa fa-send"></span></a>
  </div>
</div>
