<nav>
  <ul>
    <li class="nav-right"><a href="/#/"><i class="fa fa-angle-left"></i></a></li>
    <li><a href="">Chat with {{ to.first_name }} {{ to.last_name }}</a></li>
  </ul>
</nav>

<div>
  <ul>
    <li ng-repeat="m in messages" ng-class="{mine: m.id == USER_ID}">
      {{ m.username }}: {{ m.message }}
    </li>
  </ul>


  <div class="message-bar">
    <a href="#" class="reveal">
      <span class="fa fa-user"></span>
      Reveal identity
    </a>
    <input type="text" ng-model="message" placeholder="Send a message">
    <a href="" class="send" ng-click="sendMessage($event)"><span class="fa fa-send"></span></a>
  </div>
</div>
