<nav>
  <ul>
    <li class="nav-right"><a href="/#/"><i class="fa fa-angle-left"></i></a></li>
    <li><a href="">Chat with {{ me.first_name }}</a></li>
  </ul>
</nav>

<div>
  <ul class="messages">
    <li ng-repeat="m in messages" ng-class="{mine: m.mine}">
      <span class="inner-message">
        <span ng-class="{anon: !revealed}">
          <!-- <strong>{{ !PETER ? m.mine ? me.first_name + me.last_name : "anon" : "anon") : IS_MENTOR ? to.first_name + ' ' + to.last_name : "anon" }}</strong><br /> -->
          <strong>{{ !m.mine && !PETER || PETER && m.mine ? "Peter Thiel" : revealed ? "Harrison Shoebridge" : "anon"}} <br /></strong>
        </span>
        {{ m.message }}
      </span>
    </li>

    <li>

    </li>
  </ul>


  <div class="message-bar">
    <a ng-click="revealIdentity()" ng-hide="revealed || PETER" class="reveal">
      <span class="fa fa-user"></span>
      Reveal identity
    </a>

    <input type="text" ng-model="message" placeholder="Send a message">
    <a href="" class="send" ng-click="sendMessage($event)"><span class="fa fa-send"></span></a>
  </div>
</div>
