<nav>
  <ul>
    <li><a href="#/bio">Bio</a></li>
    <li ng-hide="PETER"><a href="#/discover">Discover</a></li>
  </ul>
</nav>
<table id="chats">
  <tr ng-repeat="talkingTo in mentor.talking_to">
    <td>
        <a ng-href="#/chat/{{ talkingTo.id}}">
            <img ng-src="{{ talkingTo.picture_url }}" alt="" />
        </a>
    </td>

    <td>
        <a ng-href="#/chat/{{ talkingTo.id}}">
        <strong>{{ talkingTo.first_name }} {{ talkingTo.last_name }}:</strong> My last message was this lololololololol
        </a>
    </td>
  </tr>
</table>
