a {
  color: inherit;
  text-decoration: none;
}

body, html {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: Lato;
}

body {
  padding-top: 55px;
}

nav {
  position: fixed;
  background: #6CC470;
  top: 0;
  right: 0;
  left: 0;
  height: 55px;
}

.nav-right, .nav-left {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  height: 100%;
  width: 60px;
}

.nav-right {
  left: 0;
}

.nav-left {
  right: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}

nav ul li {
  display: inline-block;
  width: 49%;
  font-weight: bold;
  padding: 0;
  text-align: center;
}

nav ul li a {
  color: #eee;
  text-decoration: none;
  font-size: 1em;
  line-height: 50px;
}

#chats {
  padding: 10px;
  margin: 0;
  list-style: none;
}

#chats tr {
  padding: 5px;
}

#chats td {
  vertical-align: middle;
}

#chats td:first-child {
  padding: 0 10px 0 0;
}

#chats img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

#chats td:last-child {
  padding: 1em 0 1em 0;
  border-bottom: 1px solid #ccc;
  color: #222;
}

#chats td:last-child strong {
  color: #222;
}

#bio {
  text-align: center;
  padding: 1em;
}

#bio img {
  width: 10em;
  border-radius: 50%;
}

.message-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-top: 2px solid #eee;
  background: #f9f9f9;
}

.message-bar input {
  border: none;
  font-family: Lato;
  font-size: 0.9em;
  background: none;
  height: 100%;
  position: absolute;
  left: 0;
  width: calc(100% - 100px);
  padding: 0 10px 0 10px;
  outline: none;
}

.message-bar a.send {
  color: #6CC470;
  float: right;
  line-height: 50px;
  font-size: 1.2em;
  padding-right: 15px;
}

.message-bar .reveal {
  position: absolute;
  left: 50%;
  bottom: 100%;
  padding: 0.5em;
  border-radius: 5px;
  background: #6CC470;
  color: #eee;
  font-size: 0.9em;
  transform: translateX(-50%);
  margin-bottom: 25px;
  height: auto;
  box-shadow: 0 2px 0 #5ea860;
}

.message-bar .reveal:after {
  content: "";
  display: block;
  position: absolute;
  margin-left: -10px;
  border: 10px solid transparent;
  left: 50%;
  border-top-color: #6CC470;
  top: 100%;
}

.message-bar .reveal:before {
  content: "";
  display: block;
  position: absolute;
  margin-left: -12px;
  border: 12px solid transparent;
  left: 50%;
  border-top-color: #5ea860;
  top: 100%;
  margin-top: 0;
}

.messages {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0.5em;
}

.messages li {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.anon {
  opacity: 0.5;
}

.messages li.mine {
  text-align: right;
}

.messages li.mine span {
  background: #6CC470;
  color: #fff;
}

.inner-message {
  display: inline-block;
  padding: 0.5em;
  background: #ccc;
}
